version: '2'

services:
  app:
    env_file: ./docker/environments/.env.app.production
    restart: always
    volumes:
      - ./public:/data/src/public
    network_mode: bridge
  db:
    restart: always
    env_file: ./docker/environments/.env.db.production
    network_mode: bridge
    volumes:
      - ./db_backup:/var/db_backup
