<p>Hello <%= @resource.email %>,</p>

<% if @resource.local_encryption_enabled %>
  <p>Someone has requested a link to change your password. However, your account has local encryption enabled, and can therefore not be reset.</p>
  <p>Even if we allowed you to reset your password, you would be unable to decrypt your notes without your old password.</p>
<% else %>
  <p>Someone has requested a link to change your password. You can do this through the link below.</p>
  <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token, config: "default", redirect_url: message['redirect-url'].to_s) %></p>
<% end %>

<p>If you didn't request this, please ignore this email.</p>
